= link_to room, class: 'list-group-item' do
  - if room.description
    %h4.list-group-item-heading
      %span.glyphicon.glyphicon-sunglasses
      = room.name
    .list-group-item-description= room.description
  - else
    %h4.list-group-item-heading
      %span.glyphicon.glyphicon-sunglasses
      = room.name
