/*
 *= require_tree .
 *= require_self
 */

$brand-primary: lighten(#536174, 10%);

@import 'bootstrap-sprockets';
@import 'bootstrap';

.turbolinks-progress-bar {
  height: 2px;
  background-color: darken($brand-primary, 10%);
}

.panel-heading {
  padding-top: 0;
  padding-bottom: 0;

  .panel-title {
    padding: 10px 0;
  }

  .btn {
    margin: 8px 0;
  }
}

.breadcrumb {
  margin-bottom: 10px;
}

.glyphicon-sm {
  font-size: 75%;
}

.btn-danger-outline {
  @extend .btn-danger;

  background: transparent;
  color: $brand-danger;
}

.panel-description-heading {
  @extend .panel-heading;

  padding: 10px 15px;
  color: $gray-light !important;
}

.list-group-item-description {
  @extend .list-group-item-text;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert-solo {
  @extend .alert;

  margin-bottom: 0;
}

.c-page-header {
  @extend .page-header;

  margin-top: 5px;
  margin-bottom: 10px;

  .btn {
    margin-top: -4px;
  }
}

.site-header {
  @extend .page-header;

  margin: 0 0 10px 0;
  padding: 8px;

  background-color: lighten($brand-primary, 5%);
  border-bottom-color: darken($brand-primary, 15%);
  border-bottom-width: 4px;
  color: #FFF;

  font-size: 25px;
}
